:root {
    --main-bg-colour: #FDF4E7;
    --granite: #464646;
    --amber: #FFB139;
    --dusty: #D8658A;

}

body {
  background-color: var(--main-bg-colour);
  padding-top: 56px;
}

.main-font {
  color: var(--granite);
  font-family: Arial, sans-serif;
}

.button {
  position: relative; /* Ensure the button is the positioning context */
  font: bold 11px Arial;
  text-decoration: none;
  background-color: var(--granite);
  color: var(--main-bg-colour);
  padding: 6px 25px 6px 25px;
  border-top: 0.05em solid #CCCCCC;
  border-right: 0.05em solid #333333;
  border-bottom: 0.05em solid #333333;
  border-left: 0.05em solid #CCCCCC;
  cursor: pointer;
  border-radius: 0.25em;
  margin: 30px auto;
}

.button a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}
.button a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}
.button a:hover {
  text-decoration: none;
  font-size: 16px;
}
.button a:active {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.btn-padding {
    margin: 5px auto;
}

.card-custom {
    margin: auto;
}

.card-custom span {
  color: white;
  font-size: 2.75em;
  position: absolute;
  bottom: 0.075em; /* Adjust as needed */
  right: 0.125em; /* Adjust as needed */
}

.img-custom {
    height: 3.5em;
    width: 14.5em;
    object-fit: none;
    object-position: -1em;
    opacity: 0.9;
}

.shadow-custom {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.custom-button {
    position: relative; /* Make it relative to position the ::before overlay */
    background: url('/static/img/question-circle-icon.png') no-repeat center center;
    background-size: cover;
    border: none;
    width: 3.125em;
    height: 3.125em;
    overflow: visible;
    cursor: pointer;
    outline: none;
}

/* Create the overlay effect using ::before */
.custom-button::before,
.button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: rgba(216,100,137, 0); /* Default transparent background */
    transition: background 0.2s ease, opacity 0.5s ease; /* Smooth transition */
    pointer-events: none; /* Ignore clicks on the pseudo-element */
    transform: translate(-50%, -50%); /* Center the overlay */
    border-radius: 0.25em;
}

.button::before {
    width: 120%;
    height: 150%;
}

/* Hover effect - semi-transparent overlay */
.custom-button:hover::before,
.button:hover::before {
    background: rgba(216,100,137, 0.3);
}

/* Flash effect class - for when the button is clicked */
.custom-button.flash::before,
.button.flash::before {
    background: rgba(236,120,157, 0.5); /* Stronger flash color */
    opacity: 1; /* Ensure it's fully opaque initially */
    transition: opacity 0.5s ease-out; /* Fade out effect */
}

/* Fade the flash to transparent */
.custom-button.flash.fade-out::before,
button.flash.fade-out::before {
    opacity: 0; /* Fade it out completely */
}

.custom-button:focus {
    outline: none;
}
.dropdown-menu {
    max-height: 12.5em;
    overflow-y: auto;
    background-color: var(--main-bg-colour);
}

/* Make the image smaller */
.dropdown-item img {
    height: 1.875em; /* Adjust the height as needed */
    width: 1.875em; /* Adjust the width as needed */
    position: absolute;
    top: 2px;
    left: 2px;
}

/* Align the text to the right of the image */
.dropdown-item a {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    text-align: right;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 1px;
    list-style: none;
}

.dropdown-item li:first-child:before {
    width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    left: 0;
}

.dropdown-item li:nth-child(2):before {
    width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    left: 0;
}

#replaysContainer, #statsContainer {
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #CCCC99;
}

#statsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Spacing between boxes */
}

#toggleButton {
    width: 20%;
}

.imgFloatLeft, .imgFloatRight {
  width: 100%;
  display: inline-block;
  height: auto;
}


.bordered {
    border: 2px solid #999999;     /* White border around each image */
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    background-color: black;
}

#statsContainer ul {
    margin: 0 auto;
    text-align: center;
}

#statsContainer li {
    display: inline-block;
    vertical-align: top;
}

#statsContainer h5 {
  margin: 0 0 6px 0;
  color: white;
  font-size: 18px;
  font-family: "Pathway Gothic One",sans-serif;
  line-height: 27px;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
}
#statsContainer h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 76px;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0,0,0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  color: white;
  font-family: "Pathway Gothic One",sans-serif;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 3.5px;
}

.table-img-custom {
    height: 3.5em;
    width: 14.5em;
    object-fit: none;
    object-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}


#characterChart, #peakHoursChart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
}

.character-card {
  text-align: center;

}

.hidden {
  display: none;
}
.matchup-list {
  padding: 10px;
}

.matchup-item {
  font-size: 14px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.responsive-container img {
    max-width: 100%;
    height: auto;
}

/* For larger screens, switch to row layout */
@media (min-width: 768px) {
    .responsive-container {
        flex-direction: row;
        justify-content: center;
    }
}

.character-card img:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease;
}

.selected {
    box-shadow: 0 0 10px 5px rgba(102, 204, 0, 0.8);
    transition: box-shadow 0.3s ease;
}

