{% extends "base.html" %}
{% block search %}
<div class="centered-row">
    <div class="dropdown">
        <button class="btn custom-button" type="button" id="characterDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div id="characterContainer" class="dropdown-menu shadow-custom" aria-labelledby="characterDropdown">
            <!-- Dropdown will be dynamically generated character options -->
        </div>
    </div>
  <label>
    <input id="playerInput" type="text" class="form-control mb-2" placeholder="Player">
    <input id="playerInput2" type="text" class="form-control mt-2" placeholder="Player">
  </label>
    <div class="dropdown">
        <button class="btn custom-button" type="button" id="characterDropdown2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div id="characterContainer2" class="dropdown-menu shadow-custom" aria-labelledby="characterDropdown2">
            <!-- Dropdown will be dynamically generated character options -->
        </div>
    </div>
</div>
<div class="mt-5 text-center mb-5">
    <label for="dateField" class="form-label font-weight-bold main-font caption">Replay Creation Date</label>
    <input type="text" class="form-control w-20 mx-auto text-center" id="dateField" placeholder="">
</div>
<script type="module" src="{{ url_for('static', filename='js/search.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}